@model IEnumerable<BigSchool.Models.Course>

@{
    ViewBag.Title = "Home";

}
<div class="row" style="margin-top: 10px">
    <ul class="course">
        @foreach (var course in Model)
        {
            <li>
                <div class="row">
                    <div class="date">
                        <div class="month">
                            @course.DateTime.ToString("MM")
                        </div>
                        <div class="day">
                            @course.DateTime.ToString("dd")
                        </div>
                    </div>
                    <div class="detail">
                        <span class="lecture">
                            @course.LecturerName
                            @if (course.isLogin)
                            {
                                if (course.isShowFollow)
                                {
                                    <button data-user-id="@course.LecturerId" class="btn btn-default btn-sm js-tongle-follow">Follow</button>
                                }
                                else
                                {
                                    <button data-user-id="@course.LecturerId" class="btn btn-default btn-sm js-tongle-follow">Following</button>
                                }
                            }
                        </span>
                        <br />
                        <span class="category">
                            @course.Category.Name
                            @if (course.isLogin)
                            {
                                if (course.isShowGoing)
                                {
                                    <button data-course-id="@course.Id" class="btn btn-default btn-sm js-tongle-attendence">Going?</button>
                                }
                                else
                                {
                                    <button data-course-id="@course.Id" class="btn btn-default btn-sm js-tongle-attendence">Going</button>
                                }
                            }
                        </span>

                    </div>
                </div>
            </li>
        }
    </ul>
    @section scripts{
        <script src="~/Content/api.js"></script>
    }
</div>